.heroWrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroContent {
    text-align: center;
    padding: 36px;
}

.heroButton{
    margin-top:24px;
}

/* Tablets */
@media (min-width: 768px) {


 }
