.heroWrapper {
    padding: 48px 0;
}

.heroContent {
    text-align: center;
    padding: 0 18px;
    position: relative;

}

.heroLogo {
    height: 36px;
    aspect-ratio: 1;
    background: var(--brand);
    margin: 24px auto;
    border-radius: 36px;
}

.heroImage {
    position: relative;
    left: -60px;
    width: calc(100% + 120px);
    display: block;
    height: auto;
    margin-top: 72px;
}


.heroButton{
    margin-top:24px;
}

/* Tablets */
@media (min-width: 768px) {


 }
