.button {
    border: none;
    background: none;
    padding: var(--s-4) var(--s-5);
    display: flex;
    align-items: center;
    gap: var(--s-2);
    font-size: var(--s-4);
    border-radius: var(--s-2);
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
}


.buttonPrimary {
    background: var(--primary);
    color: white;
    transition: background .2s ease;
}

.buttonPrimary:hover {
    background: var(--primary-hover);
}

.buttonSecondary {
    border: 1px solid var(--accent);
    color: var(--body);
    transition: background .2s ease;
}

.buttonSecondary:hover {
    background: var(--accent);
}
