.buttonWrapper {
    display: inline-block;
    cursor: pointer;
    background: var(--brand);
    text-transform: uppercase;
    color: white;
    border: none;
    padding: 12px 21px;
    border-radius: 3px;
}


.buttonLabel {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: var(--h-font);
    line-height: 100%;
    font-weight: 600;
}

.buttonIcon {
    height: 24px;
    aspect-ratio: 1;
    border-radius: 100%;
}

.buttonPrimary {
    background: none;
    color: var(--muted);
    transition: background .2s ease, color .2s ease;
}


.buttonSecondary {
    background: var(--brand-accent);
    color: var(--brand);
    transition:  background .2s ease, color .2s ease;
}

.buttonSecondary:hover {
    background: var(--brand);
    color: var(--background);
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-timing-function: linear;
}
