.bioGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--s-11);
}

.bioImage {
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--s-4);
    background: var(--accent);
}

.bioContent p {
    width: 70%;
}

.bioSpacer {
    margin-top: var(--s-9);
}


@media (max-width: 1240px) {
    .bioGrid {
        gap: var(--s-9);
    }

    .bioContent p {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .bioGrid {
        grid-template-columns: 1fr;
    }
}
