.formInputContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.formLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.formInput,
.formSelect,
.formTextArea
 {
    padding: var(--s-4) var(--s-5);
    font-size: var(--s-5);
    background: none;
    border: none;
    border-bottom: 1px solid var(--accent);
    color: var(--body);
    cursor: pointer;
    transition:
        background .2s ease,
        border .2s ease;
}

.formInput:hover,
.formSelect:hover,
.formTextArea:hover,
.formInput:focus,
.formSelect:focus,
.formTextArea:focus {
    background: var(--accent);
    border-bottom: 1px solid var(--body);
    outline: transparent;
}


.formSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: var(--s-7);
}

.selectChevron {
    position: absolute;
    top: var(--s-5);
    right: var(--s-5);
    color: var(--body);
}

.formTextArea {
    resize: none;
}

.inputErrorContainer {
    position: absolute;
    color: var(--error);
    font-size: var(--s-4);
    display: flex;
    gap: var(--s-2);
    align-items: center;
    bottom: -21px;
}

.inputError {
    border-bottom: 1px solid var(--error);
}
