.formInputContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
}




.formLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.formInput,
.formSelect,
.formTextArea
 {
    padding: 30px 18px 0px 18px;
    font-family: var(--p-font);
    color: var(--muted);
    height: 100%;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    transition:
        background .2s ease,
        border .2s ease;
}

.formInput:hover,
.formSelect:hover,
.formTextArea:hover,
.formInput:focus,
.formSelect:focus,
.formTextArea:focus {
    outline: transparent;
}

.formInput::placeholder,
.formTextArea::placeholder {
    color: var(--muted)
}


.formSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: var(--s-7);
}


.formTextArea {
    padding: 34px 18px 0px 18px;
    resize: none;
}

.inputErrorContainer {
    position: absolute;
    color: var(--error);
    display: flex;
    gap: 6px;
    align-items: center;
    bottom: -24px;
    font-family: var(--p-font);
    font-weight: 500;
    font-size: 15px;
    right: 0;
}

.errImage {
    position: absolute;
    right: -26px;
}
