.formInputContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 6px;
}




.formLabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.formInput,
.formSelect,
.formTextArea
 {
    padding: 12px 18px;
    font-family: var(--p-font);
    color: var(--black);
    font-size: 18px;
    border: none;
    border-radius: 3px;
    background: #F4F4F4;
    cursor: pointer;
    transition:
        background .2s ease,
        border .2s ease;
}

.formInput:hover,
.formSelect:hover,
.formTextArea:hover,
.formInput:focus,
.formSelect:focus,
.formTextArea:focus {
    outline: transparent;
    background: #e2e2e2;
}

.formInput::placeholder,
.formTextArea::placeholder {
    color: var(--black)
}


.formSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: var(--s-7);
}


.formTextArea {
    resize: none;
}

.inputErrorContainer {
    color: var(--error);
    align-items: center;
    text-align: right;
    font-family: var(--p-font);
    font-weight: 500;
    font-size: 12px;
}
