.processGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--s-11);
}

.processContentGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s-9);
}

.processSmallHeader {
    font-size: vaR(--s-6);
    margin-bottom: var(--s-1);
    font-weight: 700;
    opacity: 1;
}


.processDiscover,
.processDefine,
.processDesign,
.processDevelop,
.processDeploy {
    position: relative;
    display: flex;
    gap: var(--s-7);
    z-index: 10;
}

.processDiscover p:nth-of-type(2),
.processDefine p:nth-of-type(2),
.processDesign p:nth-of-type(2),
.processDevelop p:nth-of-type(2),
.processDeploy p:nth-of-type(2) {
    margin-top: var(--s-9);
}

.processDiscover::after,
.processDefine::after,
.processDesign::after,
.processDevelop::after {
    content: "";
    position: absolute;
    width: 1px;
    border-left: 1px solid var(--accent);
    left: 24px;
    top: 48px;
    height: calc(100% + var(--header-height));
    z-index: 5;
}

.processDefine::before,
.processDesign::before,
.processDevelop::before,
.processDeploy::before {
    content: "";
    position: absolute;
    width: 1px;
    border-left: 1px solid var(--accent);
    height: 264px;
    left: 24px;
    top: -264px;
    z-index: 6;
}


@media (max-width: 1240px) {
    .processGrid {
        gap: var(--s-9);
    }

    .processContentGrid {
        margin-top: 118px;
    }

    .processDiscover,
    .processDefine,
    .processDesign,
    .processDevelop,
    .processDeploy {
        flex-direction: column;
    }

    .processDiscover::after,
    .processDefine::after,
    .processDesign::after,
    .processDevelop::after {
        width: 0;
        border-left: none;
        height: 0;
    }

    .processDefine::before,
    .processDesign::before,
    .processDevelop::before,
    .processDeploy::before {
        width: 0;
        border-left: none;
        height: 0;
    }
}

@media (max-width: 768px) {
    .processGrid {
        grid-template-columns: 1fr;
    }

    .processDiscover,
    .processDefine,
    .processDesign,
    .processDevelop,
    .processDeploy {
        flex-direction: row;
    }

    .processContentGrid {
        margin-top: 0;
        margin-left: 72px;
    }

    .processDiscover::after,
    .processDefine::after,
    .processDesign::after,
    .processDevelop::after {
        content: "";
        position: absolute;
        width: 1px;
        border-left: 1px solid var(--accent);
        left: 24px;
        top: 48px;
        height: calc(111% + var(--header-height));
        z-index: 5;
    }

    .processDefine::before,
    .processDesign::before,
    .processDevelop::before,
    .processDeploy::before {
        content: "";
        position: absolute;
        width: 1px;
        border-left: 1px solid var(--accent);
        height: 264px;
        left: 24px;
        top: -264px;
        z-index: 6;
    }
}
