.servicesContent {
    padding: 36px;
    text-align: center;
}


.servicesGrid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 24px 0;
    gap: 24px;
}


.serviceItemWrapper {

}


.serviceItemImage {
    height: 48px;
    aspect-ratio: 1;
    background: black;
    margin: 12px auto;
}


/* Tablets */
@media (min-width: 768px) {

 }
