
.servicesWrapper {
    padding: 48px 0;
}
.servicesContent {
    padding: 0 18px;
    text-align: center;
}


.servicesGrid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 24px 0;
    gap: 24px;
}


.serviceItemWrapper {

}


.serviceItemImage {
    height: 60px;
    width: auto;
    margin: 12px auto;
}


/* Tablets */
@media (min-width: 768px) {

 }
