:root {
  --black: #303030;
  --muted: #303030d;
  --muted-accent: #e2e2df;
  --brand: #4a4a4a;
  --brand-accent: #F4F4F4;
  --border: #E4E4DF;
  --accent: #F0F0EB;
  --background: #FFFFFF;
  --background-accent: #EEEEE8;
  --error: #b33f3f;

  /* sizing */
  --max-content-width: 750px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {

}

html {
  scroll-behavior: smooth;
}


main {
  background: #FFFFFF;
  max-width: var(--max-content-width);
  margin: 0 auto;
}



.site-logo {
  aspect-ratio: 1;
  border-radius: 100%;
  opacity: 0;
}

.logo-lg {
  height: 72px;
}

.logo-md {
  height: 54px;
}

.logo-sm {
  height: 36px;
}

.light-logo {
  background: var(--background);
}

.dark-logo {
  background: var(--brand);
}

.fade-in,
.fade-out {
  transition: opacity 0.3s ease;
  color: var(--brand);
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}


.content {
  margin: 0 auto;
}

.alternate-background {
  background: var(--background-accent);
}

.bold {
  font-weight: 600;
  color: var(--brand);
}

.accent-font {
  font-family: var(--font);
  color: var(--brand);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--p-font);
}

.h1 {
  font-size: 33px;
  color: var(--brand);
  font-family: var(--h-font);
  margin-bottom: 12px;
  line-height: 100%;
  font-weight: 900;
}

.h2 {
  font-size: 27px;
  line-height: 90%;
  color: var(--brand);
  font-family: var(--h-font);
  margin-bottom: 12px;

  font-weight: 700;
}

.h3 {
  font-size: 21px;
  color: var(--brand);
  font-family: var(--h-font);
  margin-bottom: 12px;
  font-weight: 700;
}

.h4 {
  font-size: 15px;

  line-height: 100%;
  color: var(--brand);
  font-family: var(--h-font);
  margin-bottom: 6px;
  font-weight: 700;
}

.p1 {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 12px;
  color: var(--brand);
  font-family: var(--p-font);
}

.p2 {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 3px;
  color: var(--brand);
  font-family: var(--p-font);
}

.sectionLabel {
  font-size: 12px;
  font-family: var(--font);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 15%;
  color: var(--brand);
  margin-bottom: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Tablets */
@media (min-width: 768px) {
  .h1 {
    font-size: 48px;
  }
  .h2 {
    font-size: 36px;
  }
  .h3 {
    font-size: 27px;
  }
  .p1 {
    font-size: 21px;
  }
}
