.mainWrapper {
  background-image: url("../../public/background-image.png"), url("../../public/background-image 2.png") ;
  background-repeat: repeat-y, repeat-y;
  background-size: 50%, 50%;
  background-attachment: fixed;
  background-position: 0 0, 100% 0;
}
