.includedGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s-9);
}


.includedContentGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--s-9) var(--s-11);
}

.includedGridItem {
    display: flex;
    flex-direction: column;
    gap: var(--s-7);

    p {
        width: 95%;
    }
}


@media (max-width: 1240px) {
    .includedContentGrid {
        gap: var(--s-9) var(--s-9);
    }
}

@media (max-width: 768px) {
    .includedContentGrid {
        grid-template-columns: 1fr;
        gap: var(--s-9) var(--s-9);
    }
}
