.processGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s-11);
}

.processHeading {
    text-align: center;
}

.processContentGridDesktop {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--s-11);
  }

.processContentGridMobile {
    display: none;
}

.processGridLine {
    height: 1px;
    border-bottom: 1px solid var(--accent);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    right: 0;
}

  .topLine::before {
    content: "";
    position: absolute;
    width: 1px;
    border-left: 1px solid var(--accent);
    bottom: -45px;
    top: 48px;
  }

  .bottomLine::before {
    content: "";
    position: absolute;
    width: 1px;
    border-left: 1px solid var(--accent);
    height: 45px;
    top: -45px;
  }

  .processContentGridTop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--s-11);
  }

  .processContentGridBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--s-11);
    width: 738px;
    margin: 0 auto;
  }

  .processGridItem {
    display: flex;
    flex-direction: row;
    gap: var(--s-7);
    position: relative;
  }

  .processButton {
    margin: 0 auto;
  }


  @media (max-width: 1240px) {
    .processContentGridTop {
        gap: var(--s-9);
    }
    .processContentGridBottom {
        gap: var(--s-9);
        width: 476px;
    }
  }

  @media (max-width: 768px) {
    .processGrid {
        gap: var(--s-9);
    }

    .processHeading {
        text-align: left;
        width: 70%;
    }

    .processContentGridDesktop {
        display: none;
    }

    .processGridLine {
        display: none;
    }

    .processContentGridMobile {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--s-9);
    }

    .processButton {
        margin: 0;
    }

    .topLine::before {
      width: 0;
      border-left: none;
      top: 0;
    }

    .bottomLine::before {
      width: 0;
      border-left: none;
      height: 0;
    }

  }
