.workGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--s-11);
}

@media (max-width: 1240px) {
    .workGrid {
        gap: var(--s-9);
    }
}

@media (max-width: 768px) {
    .workGrid {
        grid-template-columns: 1fr;
        gap: var(--s-11);
    }
}
