
.contactContent {
    position: relative;
    padding-top: 15%;
    background-image: url(../../../../public/CE\ -\ BodyRight\ 1.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 30vw;
    padding-bottom: 750px;
    margin: 0 auto;
}

.contactContent h2 {
    text-align: center;
}

.contactContent p {
    text-align: center;
}

.formContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    border: none;
    outline: none;
}

.formFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.confirmationWrapper {
    width: 100%;
    margin-block: 36px;
}

.confirmationFlex {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.confirmationNumber {
    font-size: 48px;
    font-family: var(--font);
    letter-spacing: -1px;
    line-height: 90%;
    font-weight: 700;
    color: var(--muted-accent);
    width: 54px;
    flex-shrink: 0;
}

.confirmationContent {
    border-bottom: 1px solid var(--border);
    padding-bottom: 24px;
    margin-bottom: 24px;
    flex: 1;
}

.confirmationFlex:last-child .confirmationContent {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.formKey {
    position: relative;
}

.contactFormPos {
    position: absolute;
    left: 50%;
    top: 36px;
    transform: translateX(-50%);
}

.contactButton {
    margin-top: 24px ;
    background-image: url("../../../../public/btn-mes-def.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.contactButton:hover {
    background-image: url("../../../../public/btn-mes-hov.png");
}

.nameInput {
    width: 300px;
    height: 80px;
    background-position: 0% 100%;
    background-image: url("../../../../public/inp-name-def.png");
}

.nameInput:hover,
.nameInput:focus {
    background-image: url("../../../../public/inp-name-hov.png");
}

.emailInput {
    width: 300px;
    height: 80px;
    background-position: 0% 100%;
    background-image: url("../../../../public/inp-email-def.png");
}

.emailInput:hover,
.emailInput:focus {
    background-image: url("../../../../public/inp-email-hov.png");
}

.messageInput {
    width: 300px;
    height: 130px;
    background-position: 0% 100%;
    background-image: url("../../../../public/inp-mes-def.png");
}

.messageInput:hover,
.messageInput:focus {
    background-image: url("../../../../public/inp-mes-hov.png");
}




/* Tablets */
@media (min-width: 768px) {

     .contactContent {
        width: var(--content-width);
        padding-top: 2%;
        background-position: 0% 100%;
        background-size: 35%;
        padding-bottom: 550px;
     }

     .contactContent h2 {
        text-align: left;
        width: 70%;
     }

     .contactContent p {
        width: 70%;
        text-align: left;
     }

     .contactFormPos {
        position: absolute;
        right: 100%;
        bottom: 100px;
    }

    .nameInput {
        width: 400px;
        background-image: url("../../../../public/inp-name-def-lg.png");
    }

    .nameInput:hover,
    .nameInput:focus {
        background-image: url("../../../../public/inp-name-hov-lg.png");
    }

    .emailInput {
        width: 400px;
        background-image: url("../../../../public/inp-email-def-lg.png");
    }

    .emailInput:hover,
    .emailInput:focus {
        background-image: url("../../../../public/inp-email-hov-lg.png");
    }

    .messageInput {
        width: 400px;
        height: 130px;
        background-image: url("../../../../public/inp-mes-def-lg.png");
    }

    .messageInput:hover,
    .messageInput:focus {
        background-image: url("../../../../public/inp-mes-hov-lg.png");
    }

}
