
.contactWrapper {
    padding: 48px 0;
    padding-bottom: 0;
}

.contactContent {
    text-align: center;
    padding: 0 18px;
}


.formContents {
    border: none;
    margin: 24px 0;
}

.formFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
}

.contactImage {
    position: relative;
    left: -60px;
    width: calc(100% + 120px);
    display: block;
    height: auto;
    margin-top: 48px;

}


/* Tablets */
@media (min-width: 768px) {

}
