
.contactWrapper {
}

.contactContent {
    padding: 36px;
    padding-bottom: 0;
}


.formContents {
    border: none;
    margin: 24px 0;
}

.formFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
}

.contactImage {
    display: block;
    width: 200px;
    height: auto;
    margin: 48px auto 0 auto;

}


/* Tablets */
@media (min-width: 768px) {

}
