.decorativeIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    height: var(--s-9);
    width: var(--s-9);
    border-radius: var(--s-2);
    background: var(--accent);
    flex-shrink: 0;
  }
