.workWrapper {
    padding: 48px 0;
}

.workContent {
    text-align: center;
padding: 0 18px;
}


.workImage {
    position: relative;
    left: -36px;
    width: calc(100% + 72px);
    height: auto;
    margin-bottom: 12px;
}

.workControls {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.workButton {
    height: 36px;
    aspect-ratio: 1;
    border-radius: 3px;
    border: none;
    background: var(--brand);
    color: var(--background);
}


@media (min-width: 768px) {

}
