.workWrapper {
    margin-bottom: 72px;
}

.workContent {

padding: 36px;
}


.workImage {
    width: calc(100% + 36px);
    height: auto;
    margin-bottom: 12px;
}

.workControls {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}


@media (min-width: 768px) {

}
